<script setup lang="ts">
import { IconCode } from "@tabler/icons-vue";
</script>

<template>
  <div class="flex h-full flex-col items-center justify-center bg-neutral-50">
    <IconCode :size="128" class="text-neutral-300" />
    <h1
      class="tracking-light text-center text-5xl font-bold leading-9 text-neutral-300"
    >
      Basic Scaffold
    </h1>
  </div>
</template>
