<template>
  <div class="flex h-full flex-col items-center justify-center bg-neutral-50">
    <h2 class="tracking-light leading-12 text-5xl font-bold text-neutral-300">
      <span class="text-red-400">404</span><br />
      Not Found
    </h2>
    <router-link
      to="/"
      class="mt-8 text-xl text-red-400 underline hover:text-red-500"
      >Go Home</router-link
    >
  </div>
</template>
