@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("Inter-italic.var.woff2") format("woff2");
}
/* rambla-regular - latin */
@font-face {
  font-family: "Rambla";
  font-style: normal;
  font-weight: 400;
  src: url("rambla-v13-latin-regular.woff2") format("woff2");
}
/* rambla-700 - latin */
@font-face {
  font-family: "Rambla";
  font-style: normal;
  font-weight: 700;
  src: url("rambla-v13-latin-700.woff2") format("woff2");
}
/* rambla-italic - latin */
@font-face {
  font-family: "Rambla";
  font-style: italic;
  font-weight: 400;
  src: url("rambla-v13-latin-italic.woff2") format("woff2");
}
/* rambla-700italic - latin */
@font-face {
  font-family: "Rambla";
  font-style: italic;
  font-weight: 700;
  src: url("rambla-v13-latin-700italic.woff2");
}
